.charts-page {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .1rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .charts-page {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .1rem;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 40px;
  }
}

.chart-card {
  background-color: var(--surface-card, #1e1e1e);
  color: var(--gray-100);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  height: 550px;
  flex: 1 1 calc(50% - 0.5rem);
  max-width: calc(50% - 0.5rem);
}

@media (max-width: 900px) {
  .chart-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.chart-filters,
.chart-filters2 {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  margin-bottom: 20px;
}

.charts-multiselect,
.charts-calendar,
.year-dropdown {
  width: 100%;
}

.charts-multiselect .p-multiselect,
.charts-calendar .p-calendar,
.charts-calendar .p-calendar input,
.year-dropdown .p-dropdown {
  width: 100%;
}

.pie-container {
  height: 310px;
  width: 100%;
  position: relative;
}

.vertical-container {
  height: 310px;
  width: 100%;
  position: relative;
}

.vertical-year-container {
  height: 310px;
  width: 100%;
  position: relative;
}

.stacked-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.stacked-toggle label {
  color: #fff;
  user-select: none;
}
